@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-gray-500;
}

/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap"); */

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-950;
}

/* 캐러셀 좌우 화살표 */
.slick-prev::before {
  opacity: 1;
  background-color: white;
  border-radius: 100%;
  font-size: 25px;
  color: #e25252;
}
.slick-next::before {
  opacity: 1;
  background-color: white;
  border-radius: 100%;
  font-size: 25px;
  color: #e25252;

}

.popover-bottom {
  @apply after:border-[10px] after:border-b-transparent after:border-r-transparent after:border-l-transparent after:border-t-white;
}
.popover-top {
  @apply before:border-[10px] before:border-b-white before:border-r-transparent before:border-l-transparent before:border-t-transparent;
}
.popover-left {
  @apply before:border-[10px] before:border-b-transparent before:border-r-white before:border-l-transparent before:border-t-transparent;
}
.popover-right {
  @apply after:border-[10px] after:border-b-transparent after:border-r-transparent after:border-l-white after:border-t-transparent;
}